@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
}

.nav-menu li a {
    position: relative;
    letter-spacing: 0.5;
}

.nav-menu li a::after {
    content: "";
    position: absolute;
    background-color: #f34932;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
    transform: scaleX(0); 

}
.nav-menu li a:hover::after {
    transform: scaleX(1); /* Aplica a escala completa para exibir a linha */
}

.nav-menu li a:hover{
    color: rgb(207, 51, 3);
}

:root{
    --red:#f34932;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
   
}

@keyframes moveLogo {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(1px); /* Altere o valor conforme necessário */
    }
    50% {
        transform: translateX(100px); /* Altere o valor conforme necessário */
    }
}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
    animation: moveLogo 2s ; /* Altere a duração da animação conforme necessário */
}

.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;    
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background:linear-gradient(90deg, rgb(252, 73, 73), rgb(175, 106, 2), rgb(241, 59, 59));
}

.home-img img{
    width: 500px;
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Altere o valor conforme necessário */
    }
    100% {
        transform: translateY(0);
    }
}

.home-img img {
    width: 100%;
    animation: jumpAnimation 2s infinite; /* Altere a duração da animação conforme necessário */
}


.home-img img{
    width: 100%;
}

.home-img:hover{
    cursor: pointer;
   
    transform: scale(1.1);
}

@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}